{% extends '3eomart/header.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'paypage/pay.css' %}">
{% endblock %}

{% block content %}
<div class="box">
    <p class="paypagetitle">결제수단을 선택해주세요</p>
        <button class="btn_card"><img class="image" src="{% static 'howpayimg/card.png' %}" alt="cardimg"><br>카드</button>
        <button class="btn_cash"><img class="image" src="{% static 'howpayimg/cash.png' %}" alt="cashimg"><br>현금</button>
        <button class="btn_samsungpay"><img class="image" src="{% static 'howpayimg/samsungpay.png' %}" alt="samsungpayimg"><br>삼성페이</button>
        <button class="btn_kakaopay"><img class="image" src="{% static 'howpayimg/kakaopay.png' %}" alt="kakaopayimg"><br>카카오페이</button>

    <div class='tablebox'>
        <table border='1'>
            <tr>
                <td class='orderpay'>주문 금액</td>
                <td class='orderpaynum'>6,050</td>
                <td class='totalpay' rowspan='2'>총 결제금액<p class='totalpayfont'>6,050</p></td>
            </tr>
            <tr>
                <td class='discountpay'>할인 금액</td>
                <td class='discountpaynum'>0</td>
            </tr>
        </table>
    </div>
        <button class="btn_paycancel" onclick="location.href='../'">결제취소</button>
</div>

{% endblock %}
