{% extends '3eomart/header.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'paypage/pay.css' %}">
{% endblock %}

{% block content %}
<div class="box1">
    <h1>결제수단을 선택해주세요</h1>
    <div class="box2">
        <button class="button1"><img class="image" src="card.png" alt="card"><br>카드</button>
        <button class="button2"><img class="image" src="cash.png" alt="cash"><br>현금</button>
        <button class="button3"><img class="image" src="samsungpay.png" alt="samsungpay"><br>삼성페이</button>
        <button class="button4"><img class="image" src="kakaopay.png" alt="kakaopay"><br>카카오페이</button>
    </div>
    <div class="box3">
        <p> <h3 class="price">주문금액</h3> 6,050</p>
        <p> <h3 class="price">할인금액</h3> 0</p>
        <hr>
        <p> <h3 class="price">총 결제금액</h3> 6,050</p>
        <button class="back_button">결제취소</button>
    </div>
</div>

{% endblock %}
