.test1{
    position:absolute;
    text-align: center;
    width:450;
}

.webcam{
    width: 430px;
    height: 400px
}

.productlist{
    position: absolute;
    left:43%;
    top:5%;

}

table{
    box-sizing: border-box;
    border-collapse: collapse;
    width: 44em;

    text-align: center;
}

th, td {
    border-bottom: 1px solid #ddd;
}

th{
    background: rgba(38, 43, 91, 0.17);
}

.cash{
    position:absolute;
    top:110%;
    left:18%;
}

.discount{
    font-size: 20px;
}

hr{
    border:solid 2px;
    width:31em;
}

.total{

    font-size: 20px;
}

.charge{
}

.btn_charge{
    background: rgba(56, 64, 130, 0.89);
    border: none;
    color: #FFFFFF;
    padding: 15px;
    width: 17em;
    font-size: 30px;
    letter-spacing: 0.7em;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    
    display: inline-block;

    cursor: pointer;
}

.btn_charge span{
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.btn_charge span:after{
    content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}

.btn_charge:hover span{
    padding-right: 25px;
}

.btn_charge:hover span:after {
    opacity: 1;
    right: 0;
}
