{% load static %}
<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
        {% block style%} 

        {% endblock%}
    </head>
    <body>
        <div class='header'>
            <img class='logoimg' src="{% static 'logo.png'%}" alt="logo">
            <button type="button" class="btn_cancel" onclick="location.href='../'">이전</button>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>